.marginTOP-50{
    margin-top: 50px;
}

.marginTOP-20{
    margin-top: 20px;
}

.justify-end{
    display: flex;
    justify-content: end;
}

.padding-10{
    padding: 10px;
}

.FontSize-12{
    font-size: 12px;
}
.FontSize-14{
    font-size: 14px;
}

.FontWeight-Bold{
    font-weight: bold;
}